<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/home/max/coding/cv-generator/templates/1/static/style.css" rel="stylesheet">
        <link href="/home/max/coding/cv-generator/templates/1/static/roboto_font.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="name-container">
            <h1 class="roboto-bold">{{ .Name }}</h1>
        </div> 
        <div class="title-container">
            <h2 class="roboto-thin">{{ .Title }}</h1>
        </div> 
        <hr class="divider-solid"></hr>
        <div class="grid-container">

            <div class="sidebar">
                <div class="contact">
                    <h1 class="roboto-light">CONTACT</h1>
                    <div class="contact-info">
                        <img width="30px;" src="/home/max/coding/cv-generator/templates/1/static/mobile-phone-695.svg" alt="">
                        <p class="roboto-light">{{ .Contact.Phone }}</p>
                    </div>
                    <div class="contact-info">
                        <img width="30px;" src="/home/max/coding/cv-generator/templates/1/static/email-svgrepo-com(1).svg" alt="">
                        <p class="roboto-light">{{ .Contact.Email }}</p>
                    </div>
                    <div class="contact-info">
                        <img width="30px;" src="/home/max/coding/cv-generator/templates/1/static/internet-svgrepo-com.svg" alt="">
                        <p class="roboto-light">{{ .Contact.Website }}</p>
                    </div>
                    <div class="contact-info">
                        <img width="30px;" src="/home/max/coding/cv-generator/templates/1/static/location-point-svgrepo-com.svg" alt="">
                        <p class="roboto-light">{{ .Contact.Location }}</p>
                    </div>
                </div>
                <hr class="divider-dashed">
                <div class="skills">
                    <h1 class="roboto-light">SKILLS</h1>
                    <ul>
                        {{ range .Skills }}
                            <li class="roboto-light">{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
                <hr class="divider-dashed">
                <div class="languages">
                    <h1 class="roboto-light">LANGUAGES</h1>
                    <ul>
                        {{ range $lang, $lvl := .Languages }}
                            <p class="roboto-light">
                                {{ $lang }} <span class="roboto-bold">{{ $lvl }}</span>
                            </p>
                        {{ end }}
                    </ul>
                </div>
                <hr class="divider-dashed">
                <div class="education">
                    <h1 class="roboto-light">EDUCATION</h1>
                    <ul>
                        {{ range .Educations }}
                        <p style="width: 90%;" class="roboto-light">{{ .Title }}, {{ .Specialty }} ({{ .StartYear }}-{{ .EndYear }})</p>
                        <p style="width: 90%;" class="roboto-medium">{{ .Place }}</p>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="main-info">
                <div class="about">
                    <h2 class="roboto-light">PROFILE</h2> 
                    <p class="roboto-light">{{ .About }}</p>
                </div>
                <hr style="border-top: 2px dashed #575757;">
                <div class="experience-container">
                    <h2 class="roboto-light">PROFESSIONAL EXPERIENCE</h2> 
                    {{ range .Experiences  }}
                        <div class="experience">
                            <h3 class="roboto-bold">{{ .Title }} ({{ .StartYear }}-{{ .EndYear}})</h3> 
                            <p class="roboto-light">{{ .Description }}</p> 
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </body>
</html>

